



.polygon-container {
    --rotation-deg-value: 0;
    transform: rotate(var(--rotation-deg-value));

}


.polygon-container:has(.polygon-leg:hover){
    --rotation-deg-value: var(--current-weight-value);
}

.polygon-leg{
    --current-weight-value: 0;
    &:hover {
        --unique-weight-value: var(--current-weight-value);
    }
}