.skill-card-container-selected {
    /* enabled animation of selected card */
    color: var(--color-text);
    /* .skill-card-item .skill-image-container  */
}

.skill-card-container-disabled {
    /* disabled animation of selected card */
    color: color-mix(in srgb, var(--color-text) 50%, transparent);
}




.skill-state-container:hover>.skill-card-container {
    /* Set disabled animation of selected or hover of a card */

    color: color-mix(in srgb, var(--color-text) 50%, transparent);


}

@keyframes image-transition {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 100%;
    }
}






@media (width <= 430px) {

    .skill-card-container-design-active .skill-card-container-design,
    .skill-card-container-frontend-active .skill-card-container-frontend,
    .skill-card-container-backend-active .skill-card-container-backend,
    .skill-card-container-other-active .skill-card-container-other {


        color: var(--color-text) !important;


        & .skill-card-item .skill-image-container {
            --image-name-url: 'image';
            --image-name-sequence-url: 'image-sequence';
            background-image: var(--image-name-sequence-url) !important;
            background-size: 100% 300%;
            animation: image-transition 0.2s steps(2) forwards;
            opacity: 100% !important;

        }

        & .skill-card-item p {
            display: block !important;

        }
    }

}



@media (width > 430px) {

    .skill-card-container:hover {
        /* Set enabled animation of hover of a card */
        color: var(--color-text) !important;

        & .skill-card-item .skill-image-container {
            --image-name-url: 'image';
            --image-name-sequence-url: 'image-sequence';
            background-image: var(--image-name-sequence-url) !important;
            background-size: 100% 300%;
            animation: image-transition 0.2s steps(2) forwards;
            opacity: 100% !important;

        }

        & .skill-card-item p {
            display: block !important;

        }
    }


}

@media (width >820px) {

    .skill-state-container:hover>.skill-card-container {
        /* Set disabled animation of selected or hover of a card */

        color: color-mix(in srgb, var(--color-text) 50%, transparent);

        & .skill-card-item .skill-image-container {
            --image-disabled-url: 'image-disabled';
            background-image: var(--image-disabled-url);
            opacity: 50%;
        }

        & .skill-card-item p {
            display: none;

        }
    }

}

