.project-container .project-card {
    filter: grayscale(100) blur(1.5px);
    transition: all 0.3s cubic-bezier(0.18, 0.87, 0.22, 0.87) 0.3s
}


.project-card:hover {
    filter: none !important;
    cursor: pointer;
}


.project-card-details {
    opacity: 0;
    filter: blur(2px);
    transition: all 0.3s cubic-bezier(0.18, 0.87, 0.22, 0.87) 0.3s
}

.project-card-container:hover .project-card-details {
    opacity: 1 !important;
    filter: none;

}

