@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Light.ttf') format('truetype');
    font-weight: light;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
}

@import "tailwindcss";

body {
    background-color: oklch(0.95 0 0);
    font-family: 'Manrope', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--color-text) transparent;
    cursor: none;
}

button,
input,
textarea,
label {
    cursor: none;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 99px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: 99px;
}




@theme {
    --color-bg: oklch(0.95 0 0);
    --color-container-bg: oklch(0.93 0 0);
    --color-container-soft-shadow: oklch(0.8853 0 0);
    --color-container-stroke: oklch(0.73 0 0);
    --color-text: oklch(0.22 0 0);

    --color-accent-1: oklch(0.63 0.24 303);
    --color-accent-2: oklch(0.75 0.17 5);
    --color-accent-3: oklch(0.81 0.14 75);

    --color-mixed-soft-shadow-bg: color-mix(in oklch, var(--color-container-soft-shadow) 50%, var(--color-container-bg));


    --ease-smooth: cubic-bezier(0.405, 1.070, 0.435, 0.780);
    --ease-bezier-in: cubic-bezier(0.405, 1.070, 0.435, 0.780);
    --ease-bezier-in-2: cubic-bezier(0.130, 0.835, 0.130, 0.830);
    --ease-bouncy-1: cubic-bezier(0.26, 1.84, 0, 0.67);
    --ease-bouncy-1: linear(0.0000, 0.1452, 0.4443, 0.7451, 0.9681, 1.0922, 1.1326, 1.1189, 1.0807, 1.0397, 1.0080, 0.9895, 0.9826, 0.9836, 0.9884, 0.9939, 0.9984, 1.0011, 1.0023, 1.0023, 1.0017, 1.0009, 1.0003, 0.9999, 0.9997, 0.9997, 0.9998, 0.9999, 0.9999, 1.0000, 1.0000, 1.0000, 1);
}


@custom-variant max-mobile (@media (width <=27rem));

@custom-variant max-tablet (@media (width <=40rem));

@custom-variant max-laptop (@media (width <=85.375rem));

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInQuadrant {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes fadeScaleIn {
    0% {
        opacity: 0;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes SlideUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes SlideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes SlideDown3 {
    0% {
        transform: translateY(-300%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes SlideUpFadeIn {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes SlideText {
    0% {
        transform: translateY(100%);
    }

    30% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(0%);
    }


    100% {
        transform: translateY(-100%);
    }
}

@keyframes gradient-carousel-200 {
    from {
        background-position: 0% 10%;
    }

    to {
        background-position: 200% 100%;
    }
}

@keyframes gradient-carousel-300 {
    from {
        background-position: 0% 150%;
    }

    to {
        background-position: 300% 150%;
    }
}

@keyframes gradient-carousel-400 {
    from {
        background-position: 0% 200%;
    }

    to {
        background-position: 400% 200%;
    }
}

@keyframes gradient-carousel-200-delayed {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 0%;
       
    }

    51% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 200% 100%;
    }
}